
.github-profile {
	margin: 1rem;
  display: inline-block;
  margin-left: 12px;
}

.github-profile img{
  width: 75px;
}

.info {
  display: inline-block;
  margin-left: 12px;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
}
form {
	border: thin solid #ddd;
  background-color: #fbfbfb;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.header {
	text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
